DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/taskflow_db"

JWT_ACCESS_SECRET="minimum_32_character_random_string"
JWT_REFRESH_SECRET="minimum_32_character_random_string"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=5001
NODE_ENV="development"